body {
  margin: 0;
  display: grid;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: #676767;
  font-family: "Lato", Times, serif;
}
/* Tagline */
.scroll-container {
  overflow: hidden;
  white-space: nowrap; /* Evita que el texto se desplace a la siguiente línea */
  position: relative;
}

.scroll-text {
  display: flex; /* Cambia a flex para manejar múltiples elementos */
  white-space: nowrap; /* Evita que el texto se desplace a la siguiente línea */
  position: relative; /* Añadido para que ::after sea relativo a este elemento */
  animation: moveX 15s linear infinite;
}

.content {
  display: inline-block; /* Asegura que el contenido esté en línea */
}

/* Keyframes */
@keyframes moveX {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes -moveX {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes moveY {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes -moveY {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Vfx */
.appear{
  opacity: 0;
  animation: appear 1s ease;
  animation-fill-mode: forwards;
}
/* Card icon */
.card:hover .card-info .material-symbols-outlined {
  color: #000;
  cursor: pointer;
}
.dark .card:hover .card-info .material-symbols-outlined {
  color: #fff;
  cursor: pointer;
}

/* Loanding effect */
.preloader {
  position: absolute;
  top: 0;
  z-index: 10000;
  animation: moveY 2s linear;
}
.preloader .loader {
  animation: -moveX 2s linear infinite;
}